<div class="container">
  <div class="row justify-content-end">
    <% if current_user && current_user == @group.user %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-warning")%>
    <% end %>

    <%= link_to "新增文章", new_group_post_path(@group), class:"btn btn-primary" %>

    <span>
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="badge badge-success">群组成员</label>
        <%= link_to "退出群组", quit_group_path(@group), method: :post, class:"btn btn-danger" %>
      <% else %>
        <label class="badge badge-secondary">不是群组成员</label>
        <%= link_to "加入群组", join_group_path(@group), method: :post, class:"btn btn-success" %>
      <% end %>
    </span>
  </div>
  <div class="row justify-content-center">
      <h2><%= @group.title %></h2>
    </div>
  <div class="row justify-content-center">
      <p><%= @group.description %></p>
    </div>
  </div>
</div>


  <table class="table">
    <thead>
     <tr>
        <th>文章内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<div class="row justify-content-center">
  <%= will_paginate @posts %>
</div>
